name: Ubuntu

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-libnacs:
    name: Build libnacs
    runs-on: ubuntu-${{matrix.UBUNTU_VER}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - UBUNTU_VER: 20.04
            LLVM_VER: 11
          - UBUNTU_VER: 22.04
            LLVM_VER: 15
          - UBUNTU_VER: 24.04
            LLVM_VER: 18

    env:
      UBUNTU_VER: ${{matrix.UBUNTU_VER}}
      LLVM_VER: ${{matrix.LLVM_VER}}

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: nacs-lab/libnacs
        path: ubuntu/libnacs/libnacs

    - name: Install dependencies
      run: sudo apt-get install ${{matrix.UBUNTU_VER != '24.04' && 'libopenlibm-dev' || ''}} libsleef-dev libzmq3-dev libyaml-cpp-dev libtbb-dev llvm-${{matrix.LLVM_VER}}-dev

    - name: Create package
      working-directory: ${{github.workspace}}/ubuntu/libnacs
      run: bash build.sh

    - name: "Upload binaries"
      uses: actions/upload-artifact@v4
      with:
        name: libnacs-git-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: ${{github.workspace}}/ubuntu/libnacs/libnacs/build/libnacs*.deb

  build-python-libnacs:
    name: Build python-libnacs
    needs: build-libnacs
    runs-on: ubuntu-${{matrix.UBUNTU_VER}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - UBUNTU_VER: 20.04
            LLVM_VER: 11
          - UBUNTU_VER: 22.04
            LLVM_VER: 15
          - UBUNTU_VER: 24.04
            LLVM_VER: 18

    env:
      UBUNTU_VER: ${{matrix.UBUNTU_VER}}

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: nacs-lab/python-libnacs
        ref: seq
        path: ubuntu/python-libnacs/python-libnacs

    - name: Install dependencies
      run: sudo apt-get install ${{matrix.UBUNTU_VER != '24.04' && 'libopenlibm-dev' || ''}} ${{matrix.UBUNTU_VER != '18.04' && 'libsleef-dev' || ''}} libzmq3-dev libyaml-cpp-dev libtbb-dev llvm-${{matrix.LLVM_VER}}-dev python3

    - name: Download libnacs
      uses: actions/download-artifact@v7
      with:
        name: libnacs-git-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: libnacs-package

    - name: Install libnacs
      run: sudo dpkg -i libnacs-package/*.deb

    - name: Create package
      working-directory: ${{github.workspace}}/ubuntu/python-libnacs
      run: bash build.sh

    - name: "Upload binaries"
      uses: actions/upload-artifact@v4
      with:
        name: python-libnacs-git-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: ${{github.workspace}}/ubuntu/python-libnacs/python-libnacs/build/python-libnacs*.deb

  build-labctrl-node:
    name: Build labctrl-node
    needs: build-libnacs
    runs-on: ubuntu-${{matrix.UBUNTU_VER}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - UBUNTU_VER: 20.04
            LLVM_VER: 11
            NODE_VER: 20
          - UBUNTU_VER: 22.04
            LLVM_VER: 15
            NODE_VER: 20
          - UBUNTU_VER: 24.04
            LLVM_VER: 18
            NODE_VER: 20
          - UBUNTU_VER: 20.04
            LLVM_VER: 11
            NODE_VER: 22
          - UBUNTU_VER: 22.04
            LLVM_VER: 15
            NODE_VER: 22
          - UBUNTU_VER: 24.04
            LLVM_VER: 18
            NODE_VER: 22

    env:
      UBUNTU_VER: ${{matrix.UBUNTU_VER}}
      NODE_VER: ${{matrix.NODE_VER}}

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
      with:
        repository: nacs-lab/labctrl-node
        path: ubuntu/labctrl-node/labctrl-node
        fetch-depth: 0 # for version/hash computation

    - name: Install dependencies
      run: sudo apt-get install ${{matrix.UBUNTU_VER != '24.04' && 'libopenlibm-dev' || ''}} libsleef-dev libzmq3-dev libyaml-cpp-dev libtbb-dev llvm-${{matrix.LLVM_VER}}-dev

    - name: Install NodeJS
      run: |
        curl -fsSL https://deb.nodesource.com/setup_${{matrix.NODE_VER}}.x | sudo -E bash -
        sudo apt-get install -y nodejs

    - name: Download libnacs
      uses: actions/download-artifact@v7
      with:
        name: libnacs-git-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: libnacs-package

    - name: Install libnacs
      run: sudo dpkg -i libnacs-package/*.deb

    - name: Create package
      working-directory: ${{github.workspace}}/ubuntu/labctrl-node
      run: bash build.sh

    - name: "Upload binaries"
      uses: actions/upload-artifact@v4
      with:
        name: labctrl-node-git-nodejs${{matrix.NODE_VER}}-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: ${{github.workspace}}/ubuntu/labctrl-node/labctrl-node/build/labctrl-node*.deb

  build-spcm:
    name: Build spcm
    runs-on: ubuntu-${{matrix.UBUNTU_VER}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - UBUNTU_VER: 20.04
          - UBUNTU_VER: 22.04
          - UBUNTU_VER: 24.04

    env:
      UBUNTU_VER: ${{matrix.UBUNTU_VER}}

    steps:
    - uses: actions/checkout@v6

    - name: Create package
      working-directory: ${{github.workspace}}/ubuntu/spcm
      run: bash build.sh ${{matrix.UBUNTU_VER}}

    - name: "Upload binaries"
      uses: actions/upload-artifact@v4
      with:
        name: spcm-package-ubuntu-${{matrix.UBUNTU_VER}}
        path: ${{github.workspace}}/ubuntu/spcm/deb/*.deb
